totem {
    version: 2
    cluster_name: {{ beegfs_ha_cluster_name }}
    secauth: off
    transport: udpu
}

nodelist {
{% for node in groups[beegfs_ha_ansible_cluster_group] %}
    node {
        ring0_addr: {{ node }}
        nodeid: {{ loop["index"] }}
    }
{% endfor %}
}

quorum {
    provider: corosync_votequorum
    auto_tie_breaker: 1
}

logging {
    to_logfile: yes
    logfile: {{ corosync_log_path }}
    to_syslog: yes
}
