{%- if beegfs_ha_fencing_agents is defined and beegfs_ha_fencing_agents -%}
{%- set fence_agent_definitions = [] -%}
{%- for fence_agent_type, fence_agent_attributes in (beegfs_ha_fencing_agents.items() | list) -%}
  {%- for fence_agent_attribute in fence_agent_attributes -%}
    {%- set fence_type = fence_agent_type -%}
    {%- set fence_name = fence_agent_type ~ "_" ~ loop["index"] -%}
<primitive class="stonith" id="{{ fence_name }}" type="{{ fence_type }}">
  <instance_attributes id="{{ fence_name }}-instance_attributes">
    {% for key, value in ((fence_agent_attribute | default({})).items() | list) %}
    <nvpair id="{{ fence_name }}-instance_attributes-{{ key }}" name="{{ key }}" value="{{ value }}"/>
    {% endfor %}
  </instance_attributes>
  <operations>
    <op id="{{ fence_name }}-monitor-interval-60s" interval="60s" name="monitor"/>
  </operations>
</primitive>

  {%- endfor -%}
{%- endfor -%}
{%- endif -%}