{%- set protocol = beegfs_storage_protocol['user_input'] -%}
# {{ item['item'] }} - BeeGFS HA node resource

# Review all comments and update with all expected values. All capitalized words in angled brackets must be updated.

ansible_host: <SSH_IP_ADDRESS_OR_HOSTNAME>
ansible_ssh_user: <SSH_USERNAME>
ansible_become_password: <SSH_PASSWORD>

beegfs_ha_cluster_node_ips:
 - <PRIMARY_IP_ADDRESS>             # Defines an order list of IP addresses or hostnames with the first having the
 - <SECONDARY_IP_ADDRESS>           #  highest priority. When there are no listed IPs then node name will be used.
 - <ADDITIONAL_IP_ADDRESS>          #  Node names are defined in /etc/hosts.

{% if item['item'] in groups[beegfs_ha_ansible_cluster_group] %}

{%- if protocol == "1" %}
# FCP storage communication protocol information
# No required variables!
# Reference https://github.com/netappeseries/host/blob/master/roles/fc/README.md for other available options.

{%- elif protocol == "2" %}
# InfiniBand iSER storage communication protocol information
eseries_ib_iser_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_ib_iser_udev_name: 99-beegfs-ib-iser.rules       # Filename for applying below eseries_ib_iser_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_ib_iser_udev_rules:                              # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# Reference https://github.com/netappeseries/host/blob/master/roles/ib_iser/README.md for other available options.

{%- elif protocol == "3" %}
# InfiniBand SRP storage communication protocol information
# No required variables!
# Reference https://github.com/netappeseries/host/blob/master/roles/ib_srp/README.md for other available options.

{%- elif protocol == "4" %}
# iSCSI storage communication protocol information
eseries_iscsi_interfaces:
  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_iscsi_udev_name: 99-beegfs-iscsi.rules           # Filename for applying below eseries_iscsi_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_iscsi_udev_rules:                                # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# Reference https://github.com/netappeseries/host/blob/master/roles/iscsi/README.md for other available options.

{%- elif protocol == "5" %}
# NVMe over Fibre Channel storage communication protocol information
# No required variables!
# Reference https://github.com/netappeseries/host/blob/master/roles/nvme_fc/README.md for other available options.

{%- elif protocol == "6" %}
# NVMe over InfiniBand storage communication protocol information
eseries_nvme_ib_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_nvme_ib_udev_name: 99-beegfs-nvme_ib.rules       # Filename for applying below eseries_nvme_ib_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_nvme_ib_udev_rules:                              # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# Reference https://github.com/netappeseries/host/blob/master/roles/nvme_ib/README.md for other available options.

{%- elif protocol == "7" %}
# NVMe RoCE storage communication protocol information

eseries_nvme_roce_interfaces:
  - name: eth0                      # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_nvme_roce_udev_name: 99-beegfs-nvme_roce.rules   # Filename for applying below eseries_nvme_roce_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_nvme_roce_udev_rules:                            # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# Reference https://github.com/netappeseries/host/blob/master/roles/nvme_roce/README.md for other available options.

{%- else %}
## InfiniBand iSER - Uncomment section to utilize InfiniBand iSER communication protocol with E-Series storage.
#eseries_ib_iser_interfaces:
#  - name: ib0                      # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_ib_iser_udev_name: 99-beegfs-iscsi.rules         # Filename for applying below eseries_ib_iser_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_ib_iser_udev_rules:                              # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.


# InfiniBand SRP storage communication protocol information
# No configuration required!

## iSCSI - Uncomment section to utilize iSCSI communication protocol with E-Series storage.
#eseries_iscsi_interfaces:
#  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_iscsi_udev_name: 99-beegfs-iscsi.rules           # Filename for applying below eseries_iscsi_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_iscsi_udev_rules:                                # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# NVMe over Fibre Channel storage communication protocol information
# No configuration required!

# NVMe over InfiniBand  - Uncomment section to utilize NVMe IB communication protocol with E-Series storage.
# eseries_nvme_ib_interfaces:
#   - name: ib0                       # Host interface name used to communicate with E-Series storage system.
#     address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_nvme_ib_udev_name: 99-beegfs-nvme_ib.rules       # Filename for applying below eseries_nvme_ib_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_nvme_ib_udev_rules:                              # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# NVMe RoCE - Uncomment section to utilize NVMe RoCE communication protocol with E-Series storage.
# eseries_nvme_roce_interfaces:
#   - name: eth0                      # Host interface name used to communicate with E-Series storage system.
#     address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

#eseries_nvme_roce_udev_name: 99-beegfs-nvme_roce.rules   # Filename for applying below eseries_nvme_roce_udev_rules.
                                                          #  Uncomment this and below section to override default
                                                          #  interface names.
#eseries_nvme_roce_udev_rules:                            # Maps interface PCI slots to interface names for ensuring
#  "0000:82:00.1": i4a                                    #  persistent interface names. This information can be polled 
#  "0000:82:00.0": i4b                                    #  with "lshw -class network -businfo"
                                                          #  NOTE: The interface name here + resource name specified in
                                                          #  beegfs_ha_inventory.yml must be less than 15 characters.

# Reference https://github.com/netappeseries/host/blob/master/README.md for all supported protocols and their configuration. 
{% endif %}
{% endif %}
