{%- set protocol = beegfs_storage_protocol['user_input'] -%}
# {{ item['item'] }} - BeeGFS HA node resource

# Review all comments and update with all expected values. All capitalized words in angled brackets must be updated.

ansible_host: <SSH_IP_ADDRESS_OR_HOSTNAME>
ansible_ssh_user: <SSH_USERNAME>
ansible_become_password: <SSH_PASSWORD>

{% if item['item'] in groups[beegfs_ha_ansible_cluster_group] %}

{%- if protocol == "2" %}
# InfiniBand iSER storage communication protocol information
eseries_ib_iser_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "3" %}
# InfiniBand SRP storage communication protocol information

{%- elif protocol == "4" %}
# iSCSI storage communication protocol information
eseries_iscsi_interfaces:
  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "5" %}
# NVMe over Fibre Channel storage communication protocol information

{%- elif protocol == "6" %}
# NVMe over InfiniBand storage communication protocol information
eseries_nvme_ib_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "7" %}
# NVMe RoCE storage communication protocol information - NOT IMPLEMENTED YET!

{%- else %}
## InfiniBand iSER - Uncomment section to utilize InfiniBand iSER communication protocol with E-Series storage.
#eseries_ib_iser_interfaces:
#  - name: ib0                      # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

# InfiniBand SRP storage communication protocol information

## iSCSI - Uncomment section to utilize iSCSI communication protocol with E-Sersies storage.
#eseries_iscsi_interfaces:
#  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

# NVMe over Fibre Channel storage communication protocol information

# NVMe over InfiniBand storage communication protocol information

eseries_nvme_ib_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)
{% endif %}

