[SLES12-SP4-12.4-0]
name=SLES12-SP4-12.4-0
enabled=1
autorefresh=1
baseurl=http://ict-pxe.eng.netapp.com/cblr/links/sles12.4-GM-x86_64
path=/
type=yast2
keeppackages=0
[SLES12-SP4-12.4-0]
name=SLES12-SP4-12.4-0
enabled=1
autorefresh=1
baseurl=http://ict-pxe.eng.netapp.com/cblr/links/sles12.4-GM-x86_64
path=/
type=yast2
keeppackages=0
