<constraints>
{%- for fence_agent_type, fence_agent_attributes in (beegfs_ha_fencing_agents.items() | list) -%}
  {%- for fence_agent_attribute in fence_agent_attributes -%}
    {%- set fence_name = fence_agent_type ~ '_' ~ loop['index'] -%}
    {%- for node in groups[beegfs_ha_ansible_host_group] -%}
  <rsc_location id="location-{{ fence_name }}-{{ node }}-0" node="{{ node }}" rsc="{{ fence_name }}" score="0"/>
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}
{%- for group in (resource_group_node_preference.keys() | list) -%}
  {%- for node in resource_group_node_preference[group] | reverse -%}
    {%- set priority = loop["index0"] * beegfs_ha_node_preference_scope_step -%}
  <rsc_location id="location-{{ group }}-group-{{ node }}-{{ priority }}" node="{{ node }}" rsc="{{ group }}-group" score="{{ priority }}"/>
  {%- endfor -%}
{%- endfor -%}
</constraints>