<constraints>
{%- for service in ["management", "metadata", "storage"] -%}
  {%- for group in (resource_group_node_preference.keys() | list) if resource_group_info[group]["beegfs_service"] == service -%}

    {%- for node in resource_group_node_preference[group] | reverse -%}
      {% set priority = loop["index0"] * (beegfs_ha_node_preference_scope_step | int) %}
  <rsc_location id="location-{{ group }}-monitor-{{ node }}" node="{{ node }}" rsc="{{ group }}-monitor" score="{{ priority }}"/>
  <rsc_location id="location-{{ group }}-group-{{ node }}" node="{{ node }}" rsc="{{ group }}-group" score="0"/>

    {%- endfor %}
  <rsc_colocation id="colocation-{{ group }}-group" rsc="{{ group }}-group" with-rsc="{{ group }}-monitor" score="INFINITY"/>
  {% endfor %}
{% endfor %}

{%- for fence_agent_type, fence_agent_attributes in (beegfs_ha_fencing_agents.items() | list) -%}
  {%- for fence_agent_attribute in fence_agent_attributes -%}
    {%- set fence_name = fence_agent_type ~ '_' ~ loop['index'] -%}
    {%- for node in groups[beegfs_ha_ansible_cluster_group] %}
  <rsc_location id="location-{{ fence_name }}-{{ node }}-0" node="{{ node }}" rsc="{{ fence_name }}" score="0"/>

    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

</constraints>
