totem {
    version: 2
    cluster_name: {{ beegfs_ha_cluster_name }}
    transport: knet
    crypto_cipher: aes256
    crypto_hash: sha256
}

nodelist {
{% for node in groups[beegfs_ha_ansible_cluster_group] if (hostvars[node]["beegfs_ha_pacemaker_cluster_node"] | default(beegfs_ha_pacemaker_cluster_node)) == True %}
    node {
        name: {{ node }}
        nodeid: {{ loop["index"] }}
{% for address in hostvars[node]["beegfs_ha_cluster_node_ips"] | default([node]) %}
        ring{{ loop["index0"] }}_addr: {{ address }}
{% endfor %}
    }
{% endfor %}
}

quorum {
    provider: corosync_votequorum
}

logging {
    to_logfile: yes
    logfile: /var/log/cluster/corosync.log
    to_syslog: yes
    timestamp: on
}
