ACTION=="add|change", \
KERNEL=="beegfs-*", \
SUBSYSTEM=="bdi", \
{% for k, v in beegfs_client_udev_rule_attributes.items() %}
ATTR{ {{- k -}} }="{{ v }}"{% if not loop["last"] %}, \{% endif %}

{% endfor %}
