[Unit]
Description=BeeGFS Management Server
Documentation=http://www.beegfs.com/content/documentation/
Requires=network-online.target
# We disable the wants service, because it spams the log files
#Wants=openibd.service openib.service rdma.service opensmd.service opensm.service
After=network-online.target openibd.service openib.service rdma.service opensmd.service opensm.service zfs.target

[Service]
ExecStart=/opt/beegfs/sbin/beegfs-mgmtd cfgFile={{ mgmt_config_path }}beegfs-mgmtd.conf runDaemonized=false
Type=simple

# If the sysTargetOfflineTimeoutSecs in beegfs-mgmtd.conf is set over 240, this value needs to be
# adjusted accordingly. Recommendation: sysTargetOfflineTimeoutSecs + 60
# BeeGFS Default: 300. For BeeGFS HA adjusting to be sysTargetOfflineTimeoutSecs (180) + 60.
# IMPORTANT: If this is changed adjust beegfs_ha_resource_systemd_mgmt_stop_timeout to avoid Pacemaker stop failures.
TimeoutStopSec=240

[Install]
WantedBy=default.target
