{% for host in groups[beegfs_ha_ansible_cluster_group] if (hostvars[host]["beegfs_ha_pacemaker_cluster_node"] | default(beegfs_ha_pacemaker_cluster_node)) == False %}
<primitive class="ocf" id="{{ host }}" provider="pacemaker" type="remote">
  <operations>
    <op id="remote-node-{{ host }}-migrate_from" interval="0s" name="migrate_from" timeout="60"/>
    <op id="remote-node-{{ host }}-migrate_tos" interval="0s" name="migrate_to" timeout="60"/>
    <op id="remote-node-{{ host }}-monitor" interval="60s" name="monitor" timeout="30"/>
    <op id="remote-node-{{ host }}-reload" interval="0s" name="reload" timeout="60"/>
    <op id="remote-node-{{ host }}-start" interval="0s" name="start" timeout="60"/>
    <op id="remote-node-{{ host }}-stop" interval="0s" name="stop" timeout="60"/>
  </operations>
</primitive>
{% endfor %}
