{% import 'template_macros.j2' as template_macros %}
{% import 'cluster_group.macros' as macros %}

{%- set resource_group_name = item -%}
# {{ resource_group_name }} - BeeGFS HA Management Resource Group

# This is a template for BeeGFS HA management resource groups. Review all comments and update with all expected values. 
# IMPORTANT: All capitalized words in angled brackets must be updated.


{#- =============================================================================
   Extract BeeGFS high availability settings and compute network values.
============================================================================= #}
{% set beegfs_ha_settings = file_node_settings['beegfs_ha_settings'] %}
{% set beegfs_ha_mgmtd_floating_ip = beegfs_ha_settings['floating_ip_start']['mgmt_network'] %}
{% set mgmt_volume_params = eseries_storage_settings['beegfs_target_settings']['converged_bb']['mgmt'] %}


{#- =============================================================================
   Iterate through cluster facts to collect the building block data
    that contains defined beegfs_services for the given resource group.
============================================================================= #}
{%- set building_block = {} %}
{%- for building_block_name, building_block_data in cluster_facts[cluster_name].items() %}
{%    if building_block_data['beegfs_services'][resource_group_name] is defined %}
{%      if building_block.update(building_block_data) %}{% endif %}
{%    endif %}
{%  endfor %}


{#- =============================================================================
   Extract BeeGFS Service and Storage Pool Settings
   -----------------------------------------------------------------------------
   - Retrieve the beegfs_services and specific management entries for the resource group.
   - Get the storage pool count per Eseries storage from the mgmt volume parameters.
============================================================================= #}
{%- set beegfs_services = building_block['beegfs_services'] %}
{%- set mgmt_entries = beegfs_services[resource_group_name] %}
{%- set file_nodes = mgmt_entries['file_nodes'] %}
{%- set file_nodes_per_storage_pool = mgmt_volume_params.get('file_nodes_per_storage_pool', file_nodes | length) %}
{%- set storage_pools_per_beegfs_service = mgmt_volume_params.get('storage_pools_per_beegfs_service', 1) %}


{# =============================================================================
   Organize BeeGFS Services by Block Node
   -----------------------------------------------------------------------------
   - Use a custom macro to organize the BeeGFS services by block node.
   - Convert the resulting string to JSON ensuring proper double quotes are used.
============================================================================= #}
{%- set beegfs_services_by_block_node = macros.beegfs_services_by_block_node(beegfs_services, resource_group_name, file_nodes_per_storage_pool)  | replace("'", '"') | from_json -%}


# Type of BeeGFS service the HA resource group will manage. Choices: management, metadata, storage.
beegfs_service: management


# BeeGFS HA resource service port. 8008 is the default BeeGFS management service port number.
beegfs_ha_beegfs_mgmtd_conf_resource_group_options:
{% if beegfs_supports_tls is true %}
  beemsg-port: 8008
{% else %}
  connMgmtdPortTCP: 8008
  connMgmtdPortUDP: 8008
{% endif %}


# List of management floating IP definitions in the form host_interface:ip_address/cidr_subnet_mask.
# Be sure to include the management IP address with all expected listening interfaces. Any unusable floating IPs
# will be ignored which is specially useful when the definitions differ based on the host.
# NOTE: beegfs_ha_mgmtd_floating_ip value in group_vars/ha_cluster.yml file should correspond to these floating_ips.
floating_ips:
{# i.e: replace 11.22.33.0 to 11.22.33 -#}
{% for floating_ip_interface in mgmt_entries['floating_ip_interfaces'] %}
  - {{ floating_ip_interface }}:{{ template_macros.calc_ip_address(beegfs_ha_mgmtd_floating_ip, loop.index) }}/16
{% endfor %}


beegfs_targets:
  # E-Series storage target. Change this to any desired E-Series storage.
{% for block_node in mgmt_entries['block_nodes'] %}
  {{ block_node }}:
    eseries_storage_pool_configuration:
      # The management service does not require much storage since it is only used for sharing the BeeGFS configuration
      # files among the management resource nodes. For this reason the storage pool's name is specified here to provide
      # a common pool of drives to be used between this metadata services and the management service. If name is 
      # changed, differs from the management storage pool's name, or is removed a common storage pool will not be 
      # created.
{% for storage_pool in range(storage_pools_per_beegfs_service) %}

{%- set storage_pool_name = macros.storage_pool_name(
      beegfs_services_by_block_node[block_node],
      [beegfs_mgmt_basename, beegfs_meta_basename],
      mgmt_volume_params,
      loop.index0,
      storage_pools_per_beegfs_service,
      file_nodes_per_storage_pool
    ) | from_yaml %}

{%- set ddp_raid_levels = ['raid1_DiskPool', 'raid6_DiskPool'] %}
{%- set storage_pool_raid_level = mgmt_volume_params['raid_level'] | default('raid1') %}
      - name: {{ storage_pool_name }}
        # Storage pool/volume group RAID type. Choices: raid0, raid1, raid5, raid6, raid1_DiskPool, raid6_DiskPool
        # RAID 1 mirrors the data between two drives which is the recommended storage type for management and metadata
        # services. If this storage pool is shared with other services this value must be the same on all definitions.
        raid_level: {{ 'raidDiskPool' if storage_pool_raid_level in ddp_raid_levels else storage_pool_raid_level }}

        # Total drive count for the storage pool. RAID 1 requires even number of drives. If this storage pool is shared
        # with other services this value must be the same on all definitions.
        criteria_drive_count: {{ mgmt_volume_params['criteria_drive_count'] | default(4) }}

        secure_pool: {{ mgmt_volume_params['secure_pool'] | default(true) | lower }}
        common_volume_configuration:
          segment_size_kb: {{ mgmt_volume_params['segment_size_kb'] | default(128) }}

        volumes:
          # BeeGFS management service requires only one volume.
          # Size of the BeeGFS management service volume in percentage of total storage pool capacity.
          # This percentage is shown as an example. Depending on your configuration, adjust the percentage to account
          # for overprovisioning.
          - owning_controller: {{ mgmt_entries['owning_controller'] }}
            size: {{ mgmt_volume_params['volume_size'] | default(1) }}
{% if storage_pool_raid_level in ddp_raid_levels %}
            raid_level: {{ storage_pool_raid_level.split('_')[0] }}
{% endif %}
            read_cache_enable: true
            read_ahead_enable: false

{% endfor %}

{%- endfor %}
