{%- set protocol = beegfs_storage_protocol['user_input'] -%}
# {{ item['item'] }} - BeeGFS HA node resource

# Review all comments and update with all expected values. All capitalized words in angled brackets must be updated.

ansible_host: <SSH_IP_ADDRESS_OR_HOSTNAME>
ansible_ssh_user: <SSH_USERNAME>
ansible_become_password: <SSH_PASSWORD>

{% if item['item'] in groups[beegfs_ha_ansible_cluster_group] %}

{%- if protocol == "2" %}
# InfiniBand iSER storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.
eseries_ib_iser_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "3" %}
# InfiniBand SRP storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from

{%- elif protocol == "4" %}
# iSCSI storage communication protocol information
eseries_iscsi_interfaces:
  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "5" %}
# NVMe over Fibre Channel storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.

{%- elif protocol == "6" %}
# NVMe over InfiniBand storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.
eseries_nvme_ib_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)

{%- elif protocol == "7" %}
# NVMe RoCE storage communication protocol information - NOT IMPLEMENTED YET!
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.

{%- else %}
## InfiniBand iSER - Uncomment section to utilize InfiniBand iSER communication protocol with E-Series storage.
#beegfs_ha_enable_rdma: true
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
#                                   #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.
#eseries_ib_iser_interfaces:
#  - name: ib0                      # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

# InfiniBand SRP storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from

## iSCSI - Uncomment section to utilize iSCSI communication protocol with E-Sersies storage.
#eseries_iscsi_interfaces:
#  - name: eth0                     # Host interface name used to communicate with E-Series storage system.
#    address: 192.168.1.100/24      # Host interface address and subnet (i.e. 192.168.1.100/24)

# NVMe over Fibre Channel storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.

# NVMe over InfiniBand storage communication protocol information
beegfs_ha_enable_rdma: true         # Whether to enable RDMA for BeeGFS.
#beegfs_ha_ofed_include_path:       # Defining this is only required if you installed separate kernel driver modules. Check the returned path information from
                                    #   the command, modinfo ib_core. Separate OFED modules are usually located in the /lib/modules/<kernel_version> directory.
eseries_nvme_ib_interfaces:
  - name: ib0                       # Host interface name used to communicate with E-Series storage system.
    address: 192.168.1.100/24       # Host interface address and subnet (i.e. 192.168.1.100/24)
{% endif %}

# The commented out variables below are optional. The specified values are the defaults.
# Performance tuning parameters.
#beegfs_ha_enable_performance_tuning: False
#beegfs_ha_eseries_scheduler: noop
#beegfs_ha_eseries_nr_requests: 64
#beegfs_ha_eseries_read_ahead_kb: 4096
#beegfs_ha_eseries_max_sectors_kb: 1024
#beegfs_ha_sysctl_entries:
#  vm.dirty_background_ratio: 5
#  vm.dirty_ratio: 20
#  vm.vfs_cache_pressure: 50
#  vm.min_free_kbytes: 262144
#  vm.zone_reclaim_mode: 1
{% endif %}

{% if item['item'] in groups[beegfs_ha_ansible_client_group] %}
beegfs_ha_client_connInterfaces:    # List of host interfaces that are used to communicate with the BeeGFS HA cluster.
  - eth0
#beegfs_ha_client_installed: true    # Whether to install BeeGFS client on the host. Uncommenting this value overrides the value in the group_vars/ha_client.yml.
#beegfs_ha_client_started: true      # Whether BeeGFS client should be running on the host. Uncommenting this value overrides the value in the group_vars/ha_client.yml.
{% endif %}
