# eseries_storage_systems Ansible group inventory file. Place all default/common variables for BeeGFS HA clients below.
ansible_connection: local    # DO NOT CHANGE. E-Series storage system modules and roles interact with E-Series storage systems using SANtricity Web Services REST
                             #   API. The REST API commands are issued from the localhost.

# Volume Defaults
eseries_volume_size_unit: pct                                # Volume size unit which is a percentage of storage pool size.
