{%- set iface = example_interface -%}
# {{ item['item']['item'] }} - BeeGFS HA Storage Resource Group

# This is a template for BeeGFS HA storage resource groups. You are seeing this for a resource due to specifying a storage beegfs service during the
#   create_inventory_structure.yml playbook runtime. Review all comments and update with all expected values. All capitalized words in angled brackets must be updated.

port: <UNIQUE_PORT_NUMBER>                            # BeeGFS HA resource service port. 8012 is the default BeeGFS storage service port number; Each BeeGFS HA
                                            #   storage service resource must have a unique port number.

floating_ips:                               # List of storage floating IP definitions in the form host_interface:ip_address/cidr_subnet_mask (i.e. {{ iface }}:192.168.1.10/24).
  - <IFACE>:<IP_ADDRESS>/<CIDR_MASK>                     #   This information is used to communicate with the BeeGFS management resource. Therefore, these definitions must
                                            #   be on the same subnet as beegfs_ha_mgmtd_floating_ip value in group_vars/ha_cluster.yml. Any unusable definitions
                                            #   will be ignored which is specially useful when the definitions differ based on the host.

beegfs_service: storage                     # Type of BeeGFS service the HA resource group will manage. Choices: management, metadata, storage.

beegfs_targets:                             # Dictionary of E-Series storage systems that contain a list of storage pool definitions.
  {{ storage_target_hosts[0] }}:            # E-Series storage target. Change this to any desired E-Series storage target found in
                                            #   eseries_storage_systems inventory group. Choices: ({% for storage_host_target in storage_target_hosts %}{{ storage_host_target }}{{ ", " if not loop["last"] }}{% endfor %})

    eseries_storage_pool_configuration:     # Storage pool and volume names are generated by the beegfs_ha_7_1 role. For more options, see examples/beegfs_ha_7_1/README.md.

      - raid_level: raid6                   # Storage pool/volume group RAID type. Choices: raid0, raid1, raid5, raid6, raidDiskPool
                                            #   RAID 6 stripes the data between across all drives with two parity stripes to allow for recovery of multiple drive
                                            #   failures which is the recommended storage type for BeeGFS storage services.

        criteria_drive_count: 10            # Total drive count for the storage pool.

        volumes:                            # BeeGFS storage service volume list. In order to get the best performance it is recommended that you use a minimum
          - size: 4096                      #   of four volumes per storage service. Size of each BeeGFS storage service volume specified in gibibytes.
          - size: 4096
          - size: 4096
          - size: 4096
