[Unit]
Description=BeeGFS Metadata Server (multimode)
Documentation=http://www.beegfs.com/content/documentation/
Requires=network-online.target
After=network-online.target beegfs-mgmtd.service beegfs-storage.service openibd.service openib.service rdma.service opensmd.service opensm.service zfs.target

[Service]
ExecStart=/etc/beegfs/beegfs_ha_service_daemon.sh /opt/beegfs/sbin/beegfs-meta /mnt/%I/metadata_config/beegfs-meta.conf
Type=simple

[Install]
WantedBy=default.target
