[Unit]
Description=BeeGFS Metadata Server (multimode)
Documentation=http://www.beegfs.com/content/documentation/
Requires=network-online.target
# We disable the wants service, because it spams the log files
#Wants=beegfs-mgmtd.service beegfs-storage.service openibd.service openib.service rdma.service opensmd.service opensm.service
After=network-online.target beegfs-mgmtd.service beegfs-storage.service openibd.service openib.service rdma.service opensmd.service opensm.service zfs.target

[Service]
ExecStart=/bin/bash -c 'numa_num=$(awk "/^tuneBindToNuma/ {print $3}" /mnt/%I/metadata_config/beegfs-meta.conf); if [ -n $numa_num ]; then exec /usr/bin/numactl --cpunodebind=$numa_num --membind=$numa_num /opt/beegfs/sbin/beegfs-meta cfgFile=/mnt/%I/metadata_config/beegfs-meta.conf runDaemonized=false; else /opt/beegfs/sbin/beegfs-meta cfgFile=/mnt/%I/metadata_config/beegfs-meta.conf runDaemonized=false; fi'
Type=simple

[Install]
WantedBy=multi-user.target
