[beegfs]
name=BeeGFS 7.1.4 (sles12)
# If you have an active BeeGFS support contract, use the alternative URL below
# to retrieve early updates. Replace username/password with your account for
# the BeeGFS customer login area.
#baseurl=https://username:password@www.beegfs.io/login/release/beegfs_7_1/dists/sles12
baseurl={{ beegfs_suse_repository_base_url }}
gpgkey={{ beegfs_suse_repository_gpgkey }}
gpgcheck=0
enabled=1
type=rpm-md
autorefresh=0