# all Ansible group inventory file. Place all universally common or default variable values below.
ansible_python_interpreter: /usr/bin/python3     # Python is required on remote hosts to issuing commands. Python 2 has been deprecated and should be used at your own risk!

# Time synchronization tool configuration parameters (Chrony/NTP)
#beegfs_ha_ntp_server_pools:
#  - "pool 0.pool.ntp.org"
#  - "pool 1.pool.ntp.org"
#beegfs_ha_ntp_restricts:                       # Restricts entries allow NTP to query for time and statistics on the network defined.
#  - 127.0.0.1                                  #   example: restrict 192.168.1.0 mask 255.255.255.0 nomodify notrap nopeer
#  - ::1
